google-cloud-aiplatform[langchain,reasoningengine,rapid_evaluation]
nest_asyncio
gitpython
magika
cloudpickle==3.0.0
pydantic==2.7.4
requests
langchain-google-community
google-cloud-discoveryengine
google-api-python-client
langchain-google-cloud-sql-pg
langchain-google-vertexai
